<div class="d-flex justify-content-center">
  <%if(success && success.length > 0){ %>
  <div class="alert alert-success w-50 mt-2 d-flex align-items-center" 
  role="alert">
  <%= success %></div>
  <%} %>
</div>


<div class="d-flex justify-content-center">
  <%if(error && error.length > 0){ %>
  <div class="alert alert-danger w-50 mt-2 d-flex align-items-center"
    role="alert">
    <%= error %>
  </div>
  <%} %>
</div>
