<footer>
    <div class="f-info">
    <div class="f-info-socials">
        <a href=""><i class="fa-brands fa-square-facebook"></i></a>
        <a><i class="fa-brands fa-instagram"></i></a>
        <a><i class="fa-brands fa-linkedin"></i></a>
    </div>
    <div>&copy;Wanderlust Private Limited</div>
    <div class="f-info f-info-links">
        <a href="/privacy">Privacy</a>
        <a href="/terms">Terms</a>
    </div>
</div>
</footer>